<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/transport}">All transport</a>
    | &nbsp;
    <a th:href="@{/color}">All colors</a>
    | &nbsp;
    <a th:href="@{/type}">All types</a>
    | &nbsp;
    <a th:href="@{/transport/new}">Add transport</a>
    | &nbsp;
    <a th:href="@{/color/new}">Add color</a>
    | &nbsp;
    <a th:href="@{/type/new}">Add type</a>
    | &nbsp;
    <a th:href="@{/transport/search}">Search transport by color</a>
    | &nbsp;
    <a th:href="@{/transport/delete}">Delete transport by id</a>
    | &nbsp;
    <a th:href="@{/color/delete}">Delete color by name</a>
    | &nbsp;
    <a th:href="@{/type/delete}">Delete type by name</a>
    | &nbsp;


</div>