<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add transport</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<h2>Add transport</h2>

<form th:action="@{/transport}" th:object="${transport}" method="POST">

    <div class="form-group">
        <input type="hidden" th:field="*{id}"/>
        <label>Max speed</label>
        <input type="text" class="form-control" placeholder="Enter max speed" th:field="*{maxSpeed}"/>
        <span th:if="${#fields.hasErrors('maxSpeed')}" th:errors="*{maxSpeed}">Error</span>
        <label>Count seat places</label>
        <input type="text" class="form-control" placeholder="" th:field="*{countSeatPlaces}"/>
        <span th:if="${#fields.hasErrors('countSeatPlaces')}" th:errors="*{countSeatPlaces}">Error</span>
        <label>Load capacity</label>
        <input type="text" class="form-control" placeholder="" th:field="*{loadCapacity}"/>
        <span th:if="${#fields.hasErrors('loadCapacity')}" th:errors="*{loadCapacity}">Error</span>
        <label>Color</label>
        <select th:field="${transport.color}" class="form-control">
            <option th:each="elem : ${colors}"
                    th:value="${elem.color}"
                    th:utext="${elem.color}">
            </option>
        </select>

        <label>Type</label>
        <select th:field="${transport.transportType}" class="form-control">
            <option th:each="elem : ${types}"
                    th:value="${elem.name}"
                    th:utext="${elem.name}">
            </option>
        </select>

    </div>
    <input type="submit" class="btn btn-success" value="Save"/>
</form>

</body>
</html>