<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search page</title>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>


    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div style="padding-left: 40px; padding-right: 40px; text-align:center">
<h2>Search page</h2>

<form th:action="@{/transport/result}" th:object="${searchTransportByColorForm}" method="GET">
    <div class="form-group">
        <label>Color</label>
        <input style="width: 450px; margin: auto" type="text" class="form-control" placeholder="Enter color" th:field="*{color}"/>
        <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span>
    </div>
    <input type="submit" class="btn btn-success" value="Save"/>
</form>
</div>
</body>
</html>